li{
  list-style: none;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

header{
	text-align: center;
	padding: 2em;
	background-color: #0084b4;
	margin-bottom: 3em;
	color: white;
	width: 100%;
}

li{
	margin-bottom: 4em;
}

h2{
	margin-top: 0;
}

.plays, .likes {
	margin-right: 2em;
}

.aside{
	position: fixed;
}

