<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vimeo Api</title>
	<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="js/main.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<header><h1 class="title">Angular App over Vimeo Rest API</h1></header>
	
	<div class="container-fluid">
		<div class="form col-sm-3">
			<form action="" class="aside">
				<h2>Filter by ...</h2>
				<label>Name: <br><input ng-model="search.name"></label><br>
				<label>Description: <br><input ng-model="search.description"></label><br>
				<label for="greaterof10">Users with +1k likes: <input id="isbox" type="checkbox" ng-chec="personFilter.user.metadata.connections.likes.total" ng-click="personFilter = isOver10"></label><br>
				<label for="showvimeos" ng-hide="ischeked">Show Vimeos: <br>
				    <select name="showvimeos" ng-model="end">
				      <option value="" disabled selected>Please Choose...</option>
				      <option value="12">show 10</option>
				      <option value="27">show 25</option>
				      <option value="52">show 50</option>
				    </select>
				</label><br>
			</form>	
		</div>
		
		<ul id="list" class="col-sm-9">
			<li ng-repeat="vimeo in vimeos | filter:search:strict | limitTo:end | filter:personFilter" ng-if="vimeo.avatar" class="container-fluid">
					<a href="{{vimeo.user.link}}"  target="_blank" class="col-sm-2"><img class ="avatar" ng-src="{{vimeo.avatar}}" alt=""></a>
					<div class="col-sm-10">
						<a href="{{vimeo.link}}" target="_blank"><h2 ng-bind="vimeo.name"></h2></a>
						<p ng-bind="vimeo.description"></p>
						<span class="playslabel">Plays: </span><span class="plays" ng-bind="vimeo.stats.plays"></span>
						<span class="linkslabel">Likes: </span><span class="likes" ng-bind="vimeo.metadata.connections.likes.total"></span>
						<span class="commentslabel">Comments: </span><span class="comments" ng-bind="vimeo.metadata.connections.comments.total"></span>
					</div>
			</li>
		</ul>
	</div>



</body>
</html>
